body{
    background-image: url(ng.jpg);
    background-position: center;
    background-size: cover;
    width: 99%;
    height: 950px;
}

.form1{
    margin: auto;
    width: 50%;
    padding: 15px;
    background-image: url(/image/ng.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130%;
    box-shadow: 20px 20px 20px 20px 20px rgba(0, 0, 0, 0.9);
}
.name1{
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    background-color: whitesmoke;
}

.form1font{
    font-size: 20px;
    color: rgb(255, 72, 0);
}
* {box-sizing: border-box}


.container {
  padding: 16px;
}


input[type=text], input[type=password],   input[type=name], input[type=email], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid gold;
  margin-bottom: 20px;
}


.registerbtn {
  background-color: teal;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: red;
  text-align: center;
}
.login{
  display: block;
  background-color: aqua;
  color: violet;
  width: 100%;
  height: 100px;
}
.button{
  padding: 30px;
  color: grey;
  background-color: red;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  border: 4px solid blue;
  border-radius: 3px;
  cursor: pointer;
  font-family: tahoma;
  margin-left: 20%;
}

.button a{
  text-decoration: none;
}

.button1{
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 29px;
  padding-right: 29px;
  color: grey;
  background-color: red;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  border: 4px solid blue;
  border-radius: 3px;
  cursor: pointer;
  font-family: tahoma;
  margin-left: 40%;
}


.agree{
  color: wheat;
  margin-left: 28%;
  font-size: 15px;
}


.rules1{
  margin-left: 10%;
  color: blue;
  font-family: tahoma;
  font-size: 20px;
}


.rules1 a{
  text-decoration: none;
}

.mie{
  background-color: thistle;
width: 100%;
height: auto;
font-size: 26px;
font-family: arail;
}
.rils{
  margin-left:30% ;
  color: red;
  font-size: 30px;
}


.service{

  width: 100%;
text-align: justify;
font-size: 23px;
}



.page{
background-color: blue;
color: black;
font-size: 23px;


.AboutPAGE{
  background-color: red;
  color: white;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page{
  margin-left:12%;
  color: gold;
  font-size: 46px;
  font-family: Arial, Helvetica, sans-serif;
}



.fordetail{
background-color: blue;
width: 100%;
height: 40vh;
}

.registerbtn{
  padding: 10px 60px;
  background-color: grey;
  border: 0;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
}


.aboutsectiontop{
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}

.popup{
  width: 400px;
  background-color: wheat;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: translate(-50% -50%) scale(0.1);
  transform: translate(-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: blue;
  visibility: hidden;
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}


.popup registerbtn{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: green;
  color: blue;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%); scale:(1);
}
.contpage{
  background-color: gold;
  font-size: 28px;
  color: black;
}
